/*---------------------------------------------------------
Specific Colors
----------------------------------------------------------*/
// Colors

$color-blue: #009ad0; // CMS secondary blue
$color-green: #80ab40; // CMS green
$color-gold: #d6aa2a; // CMS gold
$color-red: #d76c35; // CMS orange
$color-blue-dark: #015390; // CMS primary blue

// Category colors
// TODO: EDIT
$color-discover: $color-blue;
$color-discover-text: #0d7ea2; // $blue-cool-50v
$color-make: $color-gold;
$color-make-text: #947100; // $yellow-50v
$color-validate: $color-red;
$color-validate-text: #a86437; // $orange-50
$color-decide: $color-green;
$color-decide-text: #538200; // $green-50v
$color-fundamentals: $color-blue-dark;
$color-fundamentals-text: $color-blue-dark;

// Custom font colors
$color-body-dark: #1b1b1b;
