/*
styling for landing page only
*/

.sections-listing {
  padding: 10px;
    ul {
      padding-left: 0;
      list-style-type: none;
    }
  }
  
  .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }
  
  .usa-intro--sections {
    padding-bottom: 1;
    padding-top: 1;
    text-align: center;

    p {
      font-size: 2.44rem;
      margin: 0;
    }
    .subtitle {
      font-size: 1.34rem;
    }
  }
 .grid-row {
  display:flex;
  flex-direction:row;
  margin-bottom: 20px;
 }

 .explore-actions, .explore-connect, .explore-agencies {
  padding: 20px;
  max-width: 300px;
  text-align: center;
 }

 .bg-primary-lighter {
  padding: 20px;
 }
  