/*----------------------------------------------------------
# CMS colors
-----------------------------------------------------------*/
$brand-color-lighter: #e1f3f8;
$brand-color-light: #e5f3fa;
$brand-color-bright: #00CFFF;
$brand-color-medium: #046B99;
$brand-color-dark: #1C304A;
