<div class="tool-card" id="{{ tool_slug }}">
  <div class="tool-header">
    {% assign img_link = "assets/resources/img/tools/" | append: tool.img %}
    <!-- a href="{{ link | url }}"  -->
    {% image_with_class img_link tool.name %}
    <div class="badge">{{ tool.category }}</div>
  </div>
  <div class="tool-content">
    <h3>{{ tool.name }}</h3>
    <p>{{ tool.description }}</p>
    <div class="tool-tags">
      {% for tag in tool.tags %}
      <span class="tool-tag">{{ tag }}</span>
      {% endfor %}
    </div>
    <a href="{{ tool.link }}" target="_blank" class="btn">
      {% if tool.link_type == "tool" %} Open Tool {% else %} View on GitHub {% endif %}
    </a>
  </div>
</div>
