---
title: Tools
description: 'Tools developed by the CMS OSPO'
permalink: /tools/
layout: layouts/wide
tags: ospo
eleventyNavigation:
  parent: ospo-tools
  key: ospo-tools-main
  order: 1
  title: Tools
sidenav: false
sticky_sidenav: true
---

<div class="container">
  <div class="section-descriptions">
    <p>Open source tools developed by the CMS OSPO.</p>
  </div>
  <div class="tools-grid">
    {% for obj in tools %} {% comment %} tools is a hash, so the object in the iteration is a
    key/values array. obj[0] is the key, which can be used as a slugified version of the tool card
    name. obj[1] is the tool values object. {% endcomment %} {% assign tool_slug = obj[0] %} {%
    assign tool = obj[1] %} {% include "tools/tool-card.html" section_slug: tool_slug section:
    tool %} {% endfor %}
  </div>
</div>
